
h1{
    text-align: center;
    color: blueviolet;
}


h3{
    color: orange;
}

h2{
    color: rgb(255, 108, 92)
}

p{
    color: white;
}

li, ul {
    margin: 0;
    padding-left: 30px;
    list-style: none;
}

.consegna{
    /* display: none; */
    padding-left: 30px;
}

.consigli{
    color: green;
}

.debug{
    background-color: rgb(65, 65, 65);
    
}