/* Reset Rules */


li, ul {
    margin: 0;
    padding-left: 30px;
    list-style: none;
}




/* Objective (will be d-none) */
.consegna h3{
    color: orange;
}

.consegna h2{
    color: rgb(255, 108, 92)
}

.consegna p{
    color: white;
}



.consegna{
    display: none;
    padding-left: 30px;
}

.consegna .consigli{
    color: green;
}

.debug{
    background-color: rgb(65, 65, 65);
    
}


/* Fizz Buzz Elements */

body > *{
    margin: 0 auto;
}

.title{
    margin: 50px auto;
}

#Fizz-buzz{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
}

h1{
    text-align: center;
    color: blueviolet;
}

.box{
    border: 5px solid rgb(65, 65, 65);
    min-width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0)
}

.box-fizz{
    background-color: rgb(186, 255, 186);
}

.box-buzz{
    background-color: rgb(255, 255, 176);
}

.box-fizz-buzz{
    background-color: rgb(255, 103, 103);
}

.box-number{
    background-color: rgb(75, 147, 255);
}

